<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-xxl">
    <a class="navbar-brand" href="/">Dasdubdesign</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end align-center"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/#About">About</a>
        <li class="nav-item d-lg-none">
          <a href="#" class="nav-link">Projects</a>
        </li>
        <!-- on medium screen display none -->
        <li class="nav-item d-none d-lg-inline">
          <a href="#" class="btn nav-link btn-secondary_button text-light"
            >Projects</a
          >
        </li>
        <!-- on smaller screen display none, larger screen display btn -->
        <a class="nav-link" href="/api/v1/contact-form">Contact</a>
      </div>
      <!--    <a class="nav-link" href="#">Toggle light dark them</a> -->
    </div>
  </div>
</nav>
